[Desktop Entry]
Name=CinderOS Backups
Comment=Set up snapshots and rollback tools
Exec=cinder-control --page backups
Icon=drive-harddisk-system
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=CinderOS;snapper;btrfs;backup;rollback;
