[Desktop Entry]
Name=Install CinderOS
Comment=Start the CinderOS installer
Exec=cinder-install
Icon=cinderos-logo
Terminal=false
Type=Application
Categories=System;
