insmod all_video
insmod font

if loadfont "${prefix}/fonts/unicode.pf2"; then
  insmod gfxterm
  set gfxmode=auto
  terminal_input console
  terminal_output gfxterm
fi

set timeout=5
set default=0

menuentry "CinderOS 1.0.0 Ember" --class arch --class gnu-linux --class gnu --class os {
  set gfxpayload=keep
  linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen archisobasedir=%INSTALL_DIR% archisolabel=CINDEROS_1_0_0 quiet splash amd_pstate=active mitigations=auto threadirqs nohz=on rcu_nocbs=all nowatchdog lsm=landlock,lockdown,yama,integrity,apparmor,bpf audit=1
  initrd /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
}

menuentry "CinderOS 1.0.0 Ember (Linux LTS)" --class arch --class gnu-linux --class gnu --class os {
  set gfxpayload=keep
  linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% archisolabel=CINDEROS_1_0_0 quiet splash mitigations=auto lsm=landlock,lockdown,yama,integrity,apparmor,bpf audit=1
  initrd /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux-lts.img
}

menuentry "UEFI Shell" {
  chainloader /shellx64.efi
}
